@import "variables";

@keyframes toBottom {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes toTop {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes toLeft {
  from {
    transform: translateX(250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toRight {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes imgShow {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

header {
  animation: toBottom 0.5s linear;
}

.heading span {
  transform: translateX(250px);
  opacity: 0;
  animation: toLeft 0.5s linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.heading h1 {
  transform: translateX(250px);
  opacity: 0;
  animation: toRight 0.5s linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.info {
  transform: translateY(400px);
  animation: toTop 0.5s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.content--bg {
  animation: imgShow 0.5s linear;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}


