@font-face {
  font-family: Circle;
  src: url("./assets/fonts/circle/Circle-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Circle;
  src: url("./assets/fonts/circle/CRC25.otf");
  font-weight: 200;
}

@font-face {
  font-family: Circle;
  src: url("./assets/fonts/circle/CRC35.otf");
  font-weight: 300;
}

@font-face {
  font-family: Circle;
  src: url("./assets/fonts/circle/CRC65.otf");
  font-weight: 700;
}

@font-face {
  font-family: Circle;
  src: url("./assets/fonts/circle/CRC75.otf");
  font-weight: 800;
}

@font-face {
  font-family: Proxima Nova;
  src: url("./assets/fonts/proxima_nova/ProximaNova-Regular.woff");
  font-weight: 400;
}

