@import "variables";
@import "fonts";

.heading {
  position: relative;
  width: 60%;
  flex-shrink: 0;
  span {
    font-family: Bahnschrift, sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
    display: inline-block;
    padding-bottom: 30px;
    padding-left: 5px;
    position: relative;
  }
  &::before {
    content: "";
    display: block;
    background: url("./assets/images/heading_bg.png") -15px 0px no-repeat;
    width: 194px;
    height: 75px;
    position: absolute;
    top: 54px;
    left: -99px;
  }
}

h1 {
  text-transform: uppercase;
  font-size: var(--h1-size);
  position: relative;
  z-index: 10;
  font-weight: 800;
  letter-spacing: 2.5px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.25;
  padding-right: 40%;
  &::after {
   // content: "";
    display: block;
    position: absolute;
    top: 0;
    z-index: 9;
    background: url("./assets/images/heading_bg.png") no-repeat;
    width: 200px;
    height: 50px;
  }
}

@media screen and (max-width: 1366px) {
  h1 {
    padding-right: 15%;
  }
}

@media screen and (max-width: 1365px) {
  h1 {
    padding-right: 0;
  }
}

@media screen and (max-width: 939px) {
  .heading {
    width: 70%;
  }
  span {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 812px) and (orientation: landscape){
  .heading {
    span {
      padding-bottom: 10px;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 639px) {
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::before {
      height: 60px;
      top: 23%;
      left: -85px;
    }
    span {
      padding-bottom: 15px;
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 459px) {
  .heading {
    width: 83%;
    height: 60%;
    span {
      font-size: 1.2rem;
      padding-bottom: 10px;
    }
  }
  h1 {
    line-height: 1.5;
  }
}