@import "variables";

.info {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 82%;
  max-width: 1577px;
  height: var(--promo-height);
  background-color: var(--base-color);
  &__text {
    width: 63%;
    display: flex;
  }
  &__link {
    font-family: Bahnschrift, sans-serif;
    font-weight: bold;
    color: var(--info-link-color);
    text-transform: uppercase;
    flex-basis: 31%;
    text-align: center;
    font-size: 0.875rem;
    letter-spacing: 0.75px;
    transition: color 0.5s;
    &:hover {
      color: var(--accent-color);
    }
  }
  &__item {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    color: var(--info-item-color);
    flex-basis: 33.33%;
    text-align: start;
    padding-right: 6%;
    padding-left: 8%;
    font-size: 0.875rem;
    letter-spacing: -0.5px;
    &:nth-of-type(2) {
      padding-left: 11%;
    }
  }
}

.toBottom {
  width: var(--toBottom-size);
  height: var(--toBottom-size);
  border-radius: 50%;
  background-color: #ff2323;
  margin-left: 7%;
  &::before {
    content: "";
    width: 12px;
    height: 20px;
    background: url("./assets/images/arrow_to_bottom.png") no-repeat center;
  }
  &:hover {
    cursor: pointer;
  }
}

@keyframes arrowToBottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.toBottom {
  &:hover {
    &::before {
      animation: arrowToBottom 1s linear infinite;
    }
  }
}

@media screen and (max-width: 939px) {
  .info {
    width: 90%;
    &__text {
      width: 80%;
    }
    &__link {
      flex-basis: 28%;
    }
    &__item {
      padding-left: 2%;
      padding-right: 3%;
      flex-basis: 36%;
      &:nth-of-type(2) {
        padding-left: 2%;
      }
    }
  }
  .toBottom {
    margin-left: 5%;
  }
}

@media screen and (max-width: 639px) {
  .info {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 87%;
  }
  .info {
    &__text {
      flex-direction: column;
      width: 65%;
    }
    &__link {
      text-align: start;
      padding-left: 6%;
      margin-bottom: 10px;
    }
    &__item {
      padding-left: 6%;
      margin-bottom: 7px;
      font-size: 0.75rem;
      &:nth-of-type(2) {
        padding-left: 6%;
        margin-bottom: 0;
      }
    }
  }
  .toBottom {
    margin-right: 0;
  }
}