@import "variables";

label[for="siteLanguage"] {
  display: flex;
  align-items: center;
  height: calc(var(--header-height) /2);
  min-height: 55px;
  position: relative;
  z-index: 555;
  &::after {
    content: "";
    background: url("./assets/images/select_toggle.png") right center no-repeat;
    width: 18px;
    height: inherit;
    position: absolute;
    right: 0;
    z-index: 22;
  }
}
select[name="language"] {
  width: 100%;
  height: inherit;
  background-color: transparent;
  border: none;
  letter-spacing: 0.75px;
  font-weight: bold;
  font-size: 0.875rem;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  padding-right: 18px;
  z-index: 222;
  color: var(--base-color);
  transition: color 0.5s;
  option {
    background-color: var(--bg-color);
    color: var(--base-color);

  }
  &:hover {
    cursor: pointer;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 459px) {
  select[name="language"] {
    font-size: 0.75rem;
    padding-right: 12px;
  }
}

@media screen and (max-width: 639px) {
  label[for="siteLanguage"] {
    padding-left: 15%;
  }
}
