@import "variables";

.nav {
  &--mobile {
    display: none;
    position: relative;
    padding-left: 40px;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 30px;
      height: 2px;
      background-color: var(--base-color);
      position: absolute;
      left: 0;
    }
    &::before {
      top: 4px;
      transform: rotate(0deg);
      transition: transform 0.5s linear;
    }
    &:after {
      bottom: 6px;
      transform: rotate(0deg);
      transition: transform 0.5s linear;
    }
  }
  &__list {
    display: flex;
    height: inherit;
    padding-left: 11.5%;
  }
  &__item {
    height: inherit;
    display: flex;
    align-items: center;
  }
  &__link {
    font-size: 0.875rem;
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 37px;
    letter-spacing: 0.75px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: var(--accent-color);
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      transform: translateX(-100%);
      transition: transform 0.5s, opacity 0.5s;
    }
    &:hover {
      &::after {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

@keyframes menuMobileShow {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menuMobileHidden {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

#siteNav {
  &.nav--show {
    display: flex;
    animation: menuMobileShow 0.5s linear;
  }
}

#siteNav {
  &.nav--hidden {
    animation: menuMobileHidden 0.5s linear;
  }
}

.nav--mobileShow {
  &::before {
    transform: rotate(45deg);
    top: 7px;
  }
  &::after {
    transform: rotate(-45deg);
    bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    &__link {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 639px) {
  #siteNav {
    display: none;
    position: absolute;
    top: var(--header-height);
    left: 0;
    height: calc(100% - var(--header-height));
    width: calc(100% - var(--main-right-content));
    background-color: var(--bg-color);
    z-index: 999;
  }
  .nav {
    &__list {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      width: 100%;
    }
    &__item {
      justify-content: center;
      height: 60px;
      border-bottom: 1px solid var(--base-color);
    }
    &__link {
      &::after {
        display: none;
      }
    }
  }
  .nav {
    &--mobile{
      position: absolute;
      right: var(--main-right-content);
      display: flex;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 1px;
    }
  }
}