.slider {
  width: 40%;
  align-items: center;
  height: 207px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__items {
    display: flex;
  }
  &__item {
    font-family: Bahnschrift, sans-serif;
    font-size: 1rem;
    &--active {
      font-size: 3rem;
    }
    &:last-of-type {
      margin-left: 27px;
      margin-top: 7px;
      &::before {
        content: "/";
        margin-right: 5px;
      }
    }
  }
  &__arrow {
    background: url("./assets/images/arrow_to_right.png") no-repeat;
    width: 113px;
    height: 16px;
    transform: scale(1) translateX(0);
    transition: transform 0.5s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1) translateX(15px);
    }
  }
}

@media screen and (max-width: 939px) {
  .slider {
    width: 30%;
  }
}

@media screen and (max-width: 812px) and (orientation: landscape){
  .slider {
    height: 130px;
  }
}

@media screen and (max-width: 639px) {
  .slider {
    height: 40%;
    justify-content: center;
    min-height: 100px;
    &__item {
      &--active {
        font-size: 2.5rem;
      }
      &:last-of-type {
        margin-left: 10px;
      }
    }
    &__arrow {
      width: 90px;
      background-size: contain;
    }
  }
}
