@import "variables";

.sharePages {
  transform: rotate(90deg);
  &__link {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    letter-spacing: 0.75px;
    padding: 0 22px;
    height: inherit;
    color: var(--base-color);
    transition: color 0.5s;
    &:hover {
      cursor: pointer;
      color: var(--accent-color);
    }
  }
}