:root {
  --rem-base-value: 16px;
  --base-color: #ffffff;
  --bg-color: #181818;
  --accent-color: #ff2323;
  --header-height: 115px;
  --main-right-content: 80px;
  --promo-height: 135px;
  --info-item-color: #868686;
  --info-link-color: #070707;
  --toBottom-size: 50px;
  --h1-size: 48px;
}

@media screen and (min-width: 1921px) {
  :root {
    --rem-base-value: 24px;
    --header-height: 150px;
    --promo-height: 175px;
  }
}

@media screen and (max-width: 939px) {
  :root {
    --promo-height: 100px;
    --h1-size: 35px;
  }
}

@media screen and (max-width: 812px) and (orientation: landscape){
  :root {
    --header-height: 85px;
    --promo-height: 75px;
    --h1-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --main-right-content: 70px;
  }
}

@media screen and (max-width: 639px) {
  :root {
    --header-height: 65px;
    --promo-height: 85px;
    --h1-size: 30px;
    --main-right-content: 50px;
  }
}

@media screen and (max-width: 459px) {
  :root {
    --rem-base-value: 14px;
    --h1-size: 25px;
    --main-right-content: 35px;
  }
}