//@import "~reset-css";
@import "_fonts";
@import "_variables";
@import "_custom";
@import "_navigation";
@import "languages";
@import "_info";
@import "_heading";
@import "_slider";
@import "_social";
@import "_animation";

* {
  margin: 0;
  padding: 0;
  color: var(--base-color);
  box-sizing: border-box;
  font-family: Circle, sans-serif;
}

html {
  font-size: var(--rem-base-value);
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: var(--bg-color);
}

header, main {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 var(--main-right-content);
}

main {
  width: 100%;
  display: flex;
  height: calc(100% - var(--header-height));
  position: relative;
}

.content {
  &__row {
    display: flex;
    align-items: center;
    height: calc(100% - var(--promo-height));
    z-index: 555;
  }
  &__leftColumn {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - var(--main-right-content));
    height: 100%;
    position: relative;
    & .content__row {
      width: 81.25%;
      justify-content: space-between;
    }
  }
  &__rightColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--main-right-content);
    height: calc(100% - var(--promo-height));
    & .content__row {
      height: var(--main-right-content);
    }
  }
}

.content--bg {
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0;
}

.content__leftColumn {
  .slide0 {
    background: url("./assets/images/key_dev_bg.jpg") center right no-repeat;
    width: 100%;
    position: absolute;
    height: inherit;
  }

  .slide1 {
    background: url("./assets/images/key_dev_bg1.jpg") center right no-repeat;
    width: 100%;
    position: absolute;
    height: inherit;
  }

  .slide2 {
    background: url("./assets/images/key_dev_bg2.jpg") center right no-repeat;
    width: 100%;
    position: absolute;
    height: inherit;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen and (max-width: 939px) {
  header {
    padding: 0 var(--main-right-content) 0 5%;
  }
  .content {
    &__leftColumn {
      & .content__row {
        width: 93%;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .content {
    &__leftColumn {
      & .content__row {
        width: 95%;
      }
    }
  }
  header {
    justify-content: flex-start;
    padding: 0 var(--main-right-content) 0 8.5%;
  }
  .logo {
    & img {
      width: 60px;
    }
  }
}

@media screen and (max-width: 459px) {
  .content {
    &__leftColumn {
      & .content__row {
        width: 100%;
        flex-direction: column;
      }
    }
  }
  .logo {
    & img {
      width: 60px;
    }
  }
}

