doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="key development")
        meta(name="theme-color" content="#070707")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='keydev'
        link(rel="icon" href="./simple-logo.png" type="image/x-icon")
    body
        header
            include ./includes/logo
            include ./includes/navigation
            include ./includes/languages
        main
            div.content__leftColumn
                div.content--bg.slide0
                div.content__row
                    include ./includes/heading
                    include ./includes/slider
            div.content__rightColumn
                div.content__row.sharePages
                    include ./includes/social
            include ./includes/info

